/* swiper
 */


.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}


.banner {
	display: block;
	object-fit: contain;
	width: 100%;
	height: 80vh;
	filter: drop-shadow(0 0 0.3rem #000000a3);
}


